@{
    ViewData["Title"] = "Home Page";
}


 <div class="search-container">
    <div class="col-lg-4">
        <input type="text" id="searchbar" class="search-input" placeholder="Search..." onkeyup="func();">
        <button class="search-button" id="btnSearch">Search</button>
    </div>
   
     <div class="result-box col-lg-4" id="result-box">
       
  </div>
  </div>
 
