html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #262a2f;
  color:#333;
  margin-bottom: 60px;
}


.search-input {
  border: none;
  flex: 1;
  padding: 8px;
  border-radius: 4px 0 0 4px;
}

.search-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
.result-box ul {
border-top:1px solid #999;
padding:15px 10px;
}
.result-box ul li {
  list-style: none;
  border-radius: 3px;
  padding: 15px 10px;
}
